name: pytest

on:
  push:
    branches:
      - 'main'

  pull_request:

jobs:
  test:
    name: Test Code
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install celer
        pip install pytest
        pip install numpydoc
        pip install .
        pip install statsmodels cvxopt
        pip install git+https://github.com/jolars/pyslope.git
        # for testing Cox estimator
        pip install lifelines
        pip install pandas
    - name: Test with pytest
      run: pytest -v skglm/
